
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


<!-- Toast message -->

<div class="toast-wrap" id="toast-wrap">
        
    <div class="toast" id="toast">
        <div class="container-1">
            <i id="icon-block" class="fa-regular fa-circle-check"></i>
        </div>
        <div class="container-2">
            <p id="status-block">Success</p>
            <p id="message-block">Data inserted in database</p>
        </div>
        <button id="close-toast" onclick="closeToast()">
            &times;
        </button>
    </div>

</div>
<!-- /Toast message -->


  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New User</h2>
            <span class="text-light">Use the below form to create a new account</span>
        </div>

        <!-- add user form -->
        <%- include('include/_form') %>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
