
            <div class="sideNavbar">
                <div class="logo">
                    <div class="name">CRUD</div>
                    <div class="pic">
                        <img src="img/main.png" alt="">
                    </div>
                </div>
                <div class="menu">
                    <ul>
                        <li> <a href="/dashboard" class="" >
                                <span class="material-symbols-outlined">
                                    dashboard
                                </span>
                                Dashboard
                            </a> 
                        </li>
                        <li> <a href="/addUser">
                                <span class="material-symbols-outlined">
                                    person_add
                                </span>
                                Add Record
                            </a> 
                        </li>
                        <li> <a href="/profile">
                                <span class="material-symbols-outlined">
                                    Settings
                                </span>
                                Settings
                            </a> 
                        </li>
                    </ul>
                </div>
                <button type="button" onclick="location.href='/'">Logout</button>
            </div>
